[submodule "libtools"]
	path = src/libtools
	url = https://github.com/trumpton/libtools.git
[submodule "libdataobject"]
	path = src/libdataobject
	url = https://github.com/trumpton/libdataobject.git
[submodule "libnet"]
	path = src/libnet
	url = https://github.com/trumpton/libnet.git
