{
  "script": [

     {
         "comment": "10 Check supplied parameters",
         "op": "test",
         "conditions": [
             {
                 "v": "$(url)",
                 "goto": "next",
                 "else": "badparams"
             }
         ]
     },

     {
         "comment": "20 Ensure required variables are watched",
         "op": "addwatch",
         "variable": "sessionId",
         "namespace": "urn:x-cast:com.google.cast.receiver",
         "type": "RECEIVER_STATUS",
         "path": "/message/status/applications/0/sessionId",

     },

     {
         "comment": "30 Launch the default media server",
         "op": "send",
         "namespace": "urn:x-cast:com.google.cast.receiver",
         "sender": "sender-0",
         "receiver": "receiver-0",
         "message": {
             "type": "LAUNCH",
             "requestId": 20,
             "appId": "CC1AD845"
         }
     },

     {
         "comment": "40 Clear sessionId",
         "op": "setwatch",
         "variable": "sessionId",
         "value": ""
     },

     {
         "comment": "50 Clear playerState",
         "op": "setwatch",
         "variable": "playerState",
         "value": "RESETTING"
     },

     {
         "comment": "60 Wait for the application launch to complete",
         "op": "test",
         "conditions": [
             {
                 "a": "$(appId)",
                 "b": "CC1AD845",
                 "goto": "next"
             },
             {
                 "a": "$(lastMessageType)",
                 "b": "LAUNCH_ERROR",
                 "goto": "launcherror"
             }

         ]
     },

     {
         "comment": "70 Wait for the the new session ID to be reported",
         "op": "test",
         "conditions": [
             {
                 "v": "$(sessionId)",
                 "goto": "next"
             }
         ]
     },

     {
         "comment": "80 Connect to the media session",
         "op": "send",
         "namespace": "urn:x-cast:com.google.cast.tp.connection",
         "sender": "session-0",
         "receiver": "$(sessionId)",
         "message": {
           "type": "CONNECT"
         }
     },

     {
         "comment": "90 Send load request to established session",
         "op": "send",
         "namespace": "urn:x-cast:com.google.cast.media",
         "sender": "session-0",
         "receiver": "$(sessionId)",
         "message": {
             "requestId": 21,
             "type": "LOAD",
             "autoplay": true,
             "duration": 10,
             "media": {
                 "contentId": "$(url)",
                 "streamType": "LIVE",
                 "contentType": "audio/mpeg",
                 "metadata": {
                     "title": "$(title)"
                 }
             }
         }
     },

     {
         "comment": "100 Wait for the loads to complete",
         "op": "test",
         "conditions": [
             {
                 "a": "$(lastMessageNamespace)::$(lastMessageType)",
                 "b": "urn:x-cast:com.google.cast.media::LOAD_FAILED",
                 "goto": "loadfailed"
             },
             {
                 "a": "$(lastMessageNamespace)::$(lastMessageType)",
                 "b": "urn:x-cast:com.google.cast.media::LOAD_CANCELLED",
                 "goto": "loadfailed"
             },
             {
                 "a": "$(lastMessageNamespace)::$(lastMessageType)",
                 "b": "urn:x-cast:com.google.cast.tp.connection::CLOSE",
                 "goto": "loadfailed"
             },
             {
                 "a": "$(playerState)",
                 "b": "BUFFERING",
                 "goto": "loadcomplete"
             },
             {   
                 "a": "$(playerState)",
                 "b": "PLAYING",
                 "goto": "loadcomplete"
             }
         ]
     },

     {
         "comment": "110 Play load failure sound",
         "label": "loadfailed",
         "op": "send",
         "namespace": "urn:x-cast:com.google.cast.media",
         "sender": "session-0",
         "receiver": "$(sessionId)",
         "message": {
             "requestId": 22,
             "type": "LOAD",
             "autoplay": true,
             "media": {
                 "contentId": "http://$(serverIpAddress):$(serverPort)/alert1.ogg",
                 "streamType": "LIVE",
                 "contentType": "audio/ogg",
                 "metadata": {
                     "title": "Unable to connect"
                 }
             }
         }
     },

     {
         "comment": "120 send load failed message",
         "op": "respond",
         "response": {
             "status": "LOADFAILED",
             "responseCode": 200,
             "info": "Play request failed"
         }
     },

     {
         "comment": "130 Load complete",
         "op": "respond",
         "label": "loadcomplete",
         "response": {
             "status": "OK",
             "responseCode": 200,
             "info": "Play request OK"
         }
     },

     {
         "comment": "Check if sleep requested",
         "op": "test",
         "conditions": [
             {
                 "v": "$(sleep)",
                 "goto": "takeanap",
                 "else": "finish"
             }
         ]
     },

     {
         "comment": "Finish",
         "label" "finish",
         "end": true
     },

     {
         "comment": "140 Sleep $(i:sleep) minutes 5 seconds",
         "label": "takeanap",
         "op": "test",
         "conditions": [
           {
             "seconds": 5,
             "minutes": $(i:sleep),
             "goto": "next"
           }
         ]
     },

     {
         "comment": "150 Stop output and finish",
         "op": "send",
         "namespace": "urn:x-cast:com.google.cast.media",
         "sender": "session-0",
         "receiver": "$(sessionId)",
         "message": {
             "requestId": 23,
             "type": "STOP",
             "mediaSessionId": "$(mediaSessionId)"
             },
         "end": true
     },

     {
         "comment": "160 Missing Parameters",
         "op": "respond",
         "label": "badparams",
         "response": {
             "status": "ERROR",
             "responseCode": 200,
             "info": "Request is missing the url parameter"
         },
         "end": true
     },

     {
         "op": "respond",
         "comment": "Launch Error",
         "label": "launcherror",
         "response": {
             "status": "ERROR",
             "responseCode": 200,
             "info": "Unable to launch the Default Media Player"
         },
         "end": true
     }

  ]
}

