{

   "preprocess":"./play.pl",
   "steps":[
 
    { "comment":  "--------------------------------------------------------------------",
      "comment1": "play.json                                        ",
      "comment2": "---------                                        ",
      "comment3": "                                                 ",
      "comment4": " 10 Check Supplied Parameters                    ",
      "comment5": " 20 Launch Media Player                          ",
      "comment6": " 30 Connect to Media Player                      ",
      "comment7": " 40 Load Start Sound and dispatch                ",
      "comment8": " 50 Add $(url) to queue                          ",
      "comment9": " 60 Add #(playlist/$(localplaylist).db) to queue ",
      "comment10":" 70 Add @($(playlist)) to queue                  ",
      "comment11":" 80 Load End Sound and sleep                     ",
      "comment12":" 90 End and Error Handlers                       " },

    { "comment": "--------------------------------------------------------------------",
      "comment2":"--- Check supplied parameters ---" },

      {
         "comment":"10 - Check for parameter : url = $(url)",
         "op":"test",
         "conditions":[
            {
               "v":"$(url)",
               "goto":"paramok",
            },
            {
               "v":"$(localplaylist)",
               "goto":"paramok",
            },
            {
               "v":"$(playlist)",
               "goto":"paramok",
               "else":"badparams"
            }
         ]
      },


    { "label": "paramok",
      "comment": "--------------------------------------------------------------------",
      "comment2":"--- Launch Media Player ---" },

      {
         "comment": "20 - Clear appId $(appId)",
         "op": "setwatch",
         "variable": "appId",
         "value": ""
      },

      {
         "comment": "21 - Clear sessionId $(sessionId)",
         "op": "setwatch",
         "variable": "sessionId",
         "value": ""
      },


      {
         "comment":"22 - Launch the default media player",
         "op":"send",
         "namespace":"urn:x-cast:com.google.cast.receiver",
         "sender":"sender-0",
         "receiver":"receiver-0",
         "message":{
            "type":"LAUNCH",
            "requestId":$(requestId),
            "appId":"CC1AD845"
         },
         "expectresponse": true
      },

      {
         "comment":"23 - Wait for media server $(appId) load to complete",
         "op":"test",
         "conditions":[
            {
               "a":"$(appId)",
               "b":"CC1AD845",
               "goto":"next"
            },
            {
              "seconds": 10,
              "goto": "timeout"
            }
         ]
      },

      {
         "comment":"24 - Wait for status refresh -> $sessionId",
         "op":"test",
         "conditions":[
            {
               "v":"$(sessionId)",
               "goto":"next"
            },
            {
               "a":"$(lastMessageType)",
               "b":"CLOSE",
               "goto":"errorclosed"
            },
            {
              "seconds": 10,
              "goto": "timeout"
            }
         ]
      },


    { "comment": "--------------------------------------------------------------------",
      "comment2":"--- Connect to Media Player ---" },

      {
         "comment":"30 - Connect to the Media Server",
         "op":"send",
         "namespace":"urn:x-cast:com.google.cast.tp.connection",
         "sender":"session-0",
         "receiver":"$(sessionId)",
         "message":{
            "type":"CONNECT"
         },
         "expectresponse": false
      },

      {
         "comment": "31 - Clear mediaSessionId $(mediaSessionId)",
         "op": "setwatch",
         "variable": "mediaSessionId",
         "value": ""
      },

      {
         "comment": "32 - Clear lastMessageType $(lastMessageType)",
         "op": "setwatch",
         "variable": "lastMessageType",
         "value": ""
      },

      {
         "comment": "33 - Clear playerState $(playerState)",
         "op": "setwatch",
         "variable": "playerState",
         "value": ""
      },

      {
         "comment":"34 - Refresh Media Server Status",
         "op":"send",
         "namespace":"urn:x-cast:com.google.cast.media",
         "sender":"session-0",
         "receiver":"$(sessionId)",
         "message":{
            "type":"GET_STATUS",
            "requestId":$(requestId)
         },
         "expectresponse": true
      },

      {
         "comment":"35 - Wait for media update",
         "op":"test",
         "conditions":[
            {
               "a":"$(lastMessageType)",
               "b":"CLOSE",
               "goto":"errorclosed"
            },
            {
               "a":"$(lastMessageType)",
               "b":"MEDIA_STATUS",
               "goto":"next"
            }
         ]
      },



    { "comment": "--------------------------------------------------------------------",
      "comment2":"--- Load Start sound and get new MediaSessionId ---" },

      {
         "comment":"40 - Load load-start sound",
         "op":"send",
         "namespace":"urn:x-cast:com.google.cast.media",
         "sender":"session-0",
         "receiver":"$(sessionId)",
         "message":{
            "requestId":$(requestId),
            "type":"LOAD",
            "autoplay":false,
            "media":{
               "contentId":"$(start1)",
               "streamType":"LIVE",
               "contentType":"audio/ogg",
               "metadata":{
                  "metadataType":0,
                  "title":"Start Queue"
               }
            }
         },
         "expectresponse": true
      },

      {
         "comment": "41 - Clear mediaSessionId $(mediaSessionId)",
         "op": "setwatch",
         "variable": "mediaSessionId",
         "value": ""
      },

      {
         "comment":"42 - Refresh media status",
         "op":"send",
         "namespace":"urn:x-cast:com.google.cast.media",
         "sender":"session-0",
         "receiver":"$(sessionId)",
         "message":{
            "type":"GET_STATUS",
            "requestId":$(requestId)
         },
         "expectresponse": true
      },

      {
         "comment":"43 - Check for mediaSessionId $(mediaSessionId) to be set",
         "op":"test",
         "conditions":[
            {
               "v":"$(mediaSessionId)",
               "goto":"next"
            },
            {
               "a":"$(lastMessageType)",
               "b":"CLOSE",
               "goto":"errorclosed"
            },
            {
              "seconds": 10,
              "goto": "timeout"
            }
         ]
      },

      {
         "comment":"44 - Dispatch to localplaylist, url or playlist",
         "op":"test",
         "conditions":[
            {
               "v":"$(localplaylist)",
               "goto":"enqueuelocalplaylist",
            },
            {
               "v":"$(url)",
               "goto":"enqueueurl",
            },
            {
               "v":"$(playlist)",
               "goto":"enqueueplaylist",
               "else":"enqueueplaylist"
            }
         ]
      },



    { "label":"enqueueurl",
      "comment": "--------------------------------------------------------------------",
      "comment2":"--- Handle play ---" },

      {
         "comment":"50 - Send response OK",
         "op":"respond",
         "response":{
            "status":"OK",
            "responseCode":200,
            "info":"$(url) enqueued"
         }
      },

      {
        "comment":"51 - Load $(url) in queue",
        "op":"send",
        "namespace":"urn:x-cast:com.google.cast.media",
        "sender":"session-0",
        "receiver":"$(sessionId)",
        "message":{
           "requestId":$(requestId),
           "mediaSessionId":$(mediaSessionId),
           "type":"QUEUE_INSERT",
           "items":[
              {
                 "autoplay":true,
                 "media":{
                    "contentId":"$(url)",
                    "contentType":"audio/mpeg",
                    "streamType":"LIVE",
                    "metadata":{
                        "metadataType":3,
                        "title":"Streaming",
                        "artist":"$(title)"
                    }
                 }
              }
            ]
         },
         "expectresponse": true,
         "goto":"loadcomplete"
      },


    { "label":"enqueuelocalplaylist",
      "comment": "--------------------------------------------------------------------",
      "comment2":"--- Handle local playlist ---" },

      {
         "comment":"60 - Send response OK",
         "op":"respond",
         "response":{
            "status":"OK",
            "responseCode":200,
            "info":"$(localplaylist) enqueued"
         }
      },

      {
         "label": "nextlocalentry",
         "comment":"61 - Check next url available for loading",
         "op":"test",
         "conditions":[
            {
               "v":"#(playlist/$(localplaylist).db:*:1)",
               "goto":"next",
               "else":"loadcomplete"
            }
         ]
      },

      {
         "comment":"62 - Enqueue #(playlist/$(localplaylist).db:*:1) in media session $(mediaSessionId)",
         "op":"send",
         "namespace":"urn:x-cast:com.google.cast.media",
         "sender":"session-0",
         "receiver":"$(sessionId)",
         "message":{
            "requestId":$(requestId),
            "mediaSessionId":$(mediaSessionId),
            "type":"QUEUE_INSERT",
            "items":[
               {
                  "autoplay":true,
                  "media":{
                     "contentId":"#(playlist/$(localplaylist).db:*:1)",
                     "contentType":"audio/mpeg",
                     "streamType":"LIVE",
                     "metadata":{
                        "metadataType":3,
                        "title":"#(playlist/$(localplaylist).db:*:2)",
                        "artist":"#(playlist/$(localplaylist).db:*:3)",
                        "albumName":"#(playlist/$(localplaylist).db:+:4)"
                     }
                  }
               }
            ]
         },
         "expectresponse": true,
         "goto":"nextlocalentry"
      },


    { "label":"enqueueplaylist",
      "comment": "--------------------------------------------------------------------",
      "comment2":"--- Handle playlist ---" },

      {
         "comment":"70 - Send response OK",
         "op":"respond",
         "response":{
            "status":"OK",
            "responseCode":200,
            "info":"$(playlist) enqueued"
         }
      },

      {
         "label":"nextplaylistentry",
         "comment":"71 - Check next playlist url available for loading",
         "op":"test",
         "conditions":[
            {
               "v":"@($(playlist):*:1)",
               "goto":"next",
               "else":"loadcomplete"
            }
         ]
      },

      {
         "comment":"72 - Enqueue @($(playlist):*:1) in media session $(mediaSessionId)",
         "op":"send",
         "namespace":"urn:x-cast:com.google.cast.media",
         "sender":"session-0",
         "receiver":"$(sessionId)",
         "message":{
            "requestId":$(requestId),
            "mediaSessionId":$(mediaSessionId),
            "type":"QUEUE_INSERT",
            "items":[
               {
                  "autoplay":true,
                  "media":{
                     "contentId":"@($(playlist):*:1)",
                     "contentType":"audio/mpeg",
                     "streamType":"LIVE",
                     "metadata":{
                        "metadataType":3,
                        "title":"@($(playlist):*:2)",
                        "artist":"@($(playlist):*:3)",
                        "albumName":"@($(playlist):+:4)"
                     }
                  }
               }
            ]
         },
         "expectresponse": true,
         "goto":"nextplaylistentry"
      },


    { "label":"loadcomplete",
      "comment": "--------------------------------------------------------------------",
      "comment2":"--- Queue End Sound and handle sleep ---" },

      {
         "comment":"80 - Enqueue end sound",
         "op":"send",
         "namespace":"urn:x-cast:com.google.cast.media",
         "sender":"session-0",
         "receiver":"$(sessionId)",
         "message":{
            "requestId":$(requestId),
            "mediaSessionId":$(mediaSessionId),
            "type":"QUEUE_INSERT",
            "items":[
               {
                  "autoplay":true,
                  "media":{
                     "contentId":"$(end1)",
                     "contentType":"audio/ogg",
                     "streamType":"LIVE",
                     "metadata":{
                        "metadataType":3,
                        "title":"End queue"
                     }
                  }
               }
            ]
         },
         "expectresponse": true
      },

      {
         "comment":"81 - Start playing media session $(mediaSessionId)",
         "op":"send",
         "namespace":"urn:x-cast:com.google.cast.media",
         "sender":"session-0",
         "receiver":"$(sessionId)",
         "message":{
            "requestId":$(requestId),
            "mediaSessionId":$(mediaSessionId),
            "type":"PLAY"
         },
         "expectresponse": true
      },


     {
         "comment": "82 - Check if sleep requested",
         "op": "test",
         "conditions": [
             {
                 "v": "$(sleep)",
                 "goto": "takeanap",
                 "else": "finished"
             }
         ]
     },

     {
         "label": "takeanap",
         "comment": "83 - Sleep $(i:sleep) minutes 5 seconds",
         "op": "test",
         "conditions": [
           {
             "seconds": 5,
             "minutes": $(i:sleep),
             "goto": "next"
           }
         ]
     },

     {
         "comment": "84 - Stop output, and fall through to finish",
         "op": "send",
         "namespace": "urn:x-cast:com.google.cast.media",
         "sender": "session-0",
         "receiver": "$(sessionId)",
         "message": {
             "requestId": $(requestId),
             "type": "STOP",
             "mediaSessionId": "$(mediaSessionId)"
         }
     },

    { "label":"finished",
      "comment": "--------------------------------------------------------------------",
      "comment2":"--- Exit ---" },

    {
       "comment": "90 - Finish immediately",
       "end": true
    },

    {
       "label":"errorclosed",
       "comment":"91 - Chromecast device closed sessoion unexpectedly",
       "op":"respond",
       "response":{
          "status":"ERROR",
          "responseCode":200,
          "info":"Chromecast device sent CLOSE message unexpectedly"
       },
       "end": true 
    },
 

    {
       "label":"badparams",
       "comment":"92 - Missing Parameters",
       "op":"respond",
       "response":{
          "status":"ERROR",
          "responseCode":200,
          "info":"playlist or url parameter must be supplied"
       },
       "end": true 
    },
 
    {
       "label": "timeout",
       "comment": "93 - Timeout",
       "end": true
    },


    { "comment": "--------------------------------------------------------------------",
      "comment2":"--- End of Script ---" }

  ]
}















